/* Empty. Add your own CSS if you like */



.star>.item-content {
	background-color: #EEE8D6 !important;
}
.splash {
	background: url(../img/londonNight.jpg) no-repeat
	center center fixed;


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-webkit-background-size: cover;
	background-size: cover;


        }  

   .branding p {
   font-size: 1em;
   color: #ffffff;
   font-weight: bold;
   text-align: center;
}

   .brandingB img {
  /* width: 70%;*/
  position: absolute;
  top:80px;
  left:10px;
  right:20px;

   width: 400px;
   height: 400px;
}

.listing{
	background-image: url(../img/texture.gif);

}

.detailing{
	background: url(../img/londonNight.jpg) no-repeat
	center center fixed;


	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-webkit-background-size: cover;
	background-size: cover;


}

.item-text-wrap p {
	font-size:0.9rem;
	font-weight: bold;
	background-color: #EEE8D6;
}

.item-thumbnail-left img {
   border-radius: 10px;
}

.item h3 {
    font-weight: bold;
	color: #417D9A;
}

.bar.item-input-inset .item-input-wrapper input {
	background-color: #417D9A;
}

.poi p {

	font-weight: bold;
	color: #417D9A;

}
